.container {
  display: flex;
  justify-content: space-around;
}

.container_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 5%;
  border: 1px solid black;
}

ul {
  padding-left: 0;
}

.btn {
  cursor: pointer;
}

.item_btn {
  display: flex;
  gap: 10px;
}